# AWS PROFILE maps to credentials used to talk to AWS API
export AWS_PROFILE=fasten-analytics

# The price to request on the spot market
export TF_VAR_spot_price=0.0200

# AWS region to create instances in
export TF_VAR_region=us-east-1
